.bingo-board {
  display: flex; /* replace with grid */
  flex-wrap: wrap;
  background-color: #999;
  padding: 1rem;
}

.bingo-square {
  margin: 1rem;
  background-color: #e0e0e0;
  flex: 0 1 calc(20% - 2rem);
}
