* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(
    335deg,
    hsl(216deg 100% 62%) 0%,
    hsl(240deg 93% 75%) 8%,
    hsl(267deg 80% 72%) 16%,
    hsl(292deg 65% 69%) 24%,
    hsl(315deg 81% 71%) 33%,
    hsl(328deg 100% 74%) 43%,
    hsl(338deg 100% 75%) 52%,
    hsl(350deg 100% 76%) 62%,
    hsl(4deg 100% 77%) 71%,
    hsl(16deg 100% 74%) 79%,
    hsl(26deg 100% 72%) 87%,
    hsl(33deg 100% 71%) 94%,
    hsl(39deg 100% 71%) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

body {
  display: flex;
  font-family: "Patrick Hand", sans-serif;
}

input {
  font-family: inherit;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
