.appshell {
  background-image: linear-gradient(
    335deg,
    hsl(216deg 100% 62%) 0%,
    hsl(240deg 93% 75%) 8%,
    hsl(267deg 80% 72%) 16%,
    hsl(292deg 65% 69%) 24%,
    hsl(315deg 81% 71%) 33%,
    hsl(328deg 100% 74%) 43%,
    hsl(338deg 100% 75%) 52%,
    hsl(350deg 100% 76%) 62%,
    hsl(4deg 100% 77%) 71%,
    hsl(16deg 100% 74%) 79%,
    hsl(26deg 100% 72%) 87%,
    hsl(33deg 100% 71%) 94%,
    hsl(39deg 100% 71%) 100%
  );
}

.navbar,
.header {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
}
